:root {
	--dark-gray: #959594ff;
	--medium-gray: #d2d2d2;
	--light-gray: #e8ebee;

	--active-color: #7dd420b0;
	--background-color: white;
	
	/* 9 block colors */
	--color0: #fd3a4aff;
	--color1: #1f75feff;
	--color2: #fe8500ff;
	--color3: #00ced1ff;
	--color4: #ff66ccff;
	--color5: #fecb00ff;
	--color6: #7754f8ff;
	--color7: #654321ff;
	--color8: #3a3a3a;

	/* blocks are squares specified by one length variable */
	--block-length: 5rem;
	--block-margin: 0.5rem;
	--mini-block-length: 2rem;
	--mini-block-margin: 0.2rem;

	/* block containers are also squares specified by one length variable */
	--block-outer-length: 20rem;
	--block-outer-margin: 1rem;

	/* general containers have rounded corners and shadow */
	--container-border-radius: 0.5rem;
	--container-box-shadow: 0px 0px 7px 1px var(--medium-gray);
}
/* TODO: consider moving all block/detector-related colors to Task.svelte */

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* TODO: change font */
/* TODO: change root font size for different device sizes */

button {
	min-width: 7rem;
	margin: 1rem;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	outline: none;

	background-color: var(--dark-gray);
	color: var(--background-color);

	font-family: inherit;
	font-size: inherit;
}

button:active, button:disabled {
	background-color: var(--light-gray);
	color: var(--dark-gray)
}
