@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	  --dark-gray: #959594;
	  --medium-gray: #d2d2d2;
	  --light-gray: #e8ebee;

	  --active-color: #7dd420b0;
	  --background-color: white;
	  
	  /* 9 block colors */
	  --color0: #fd3a4aff;
	  --color1: #1f75feff;
	  --color2: #fe8500ff;
	  --color3: #00ced1ff;
	  --color4: #ff66ccff;
	  --color5: #fecb00ff;
	  --color6: #7754f8ff;
	  --color7: #654321ff;
	  --color8: #3a3a3a;

	  /* cool colors for the semantic captcha */
	  --cool0: #03045eff;
	  --cool1: #023e8aff;
	  --cool2: #0077b6ff;
	  --cool3: #0096c7ff;
	  --cool4: #00b4d8ff;
	  --cool5: #48cae4ff;
	  --cool6: #90e0efff;
	  --cool7: #ade8f4ff;
	  --cool8: #caf0f8ff;

	  /* warm colors for the semantic captcha */
	  --warm0: #ff4800ff;
	  --warm1: #ff5400ff;
	  --warm2: #ff6000ff;
	  --warm3: #ff6d00ff;
	  --warm4: #ff7900ff;
	  --warm5: #ff8500ff;
	  --warm6: #ff9100ff;
	  --warm7: #ff9e00ff;
	  --warm8: #ffaa00ff;

	  /* blocks are squares specified by one length variable */
	  --block-length: 5em;
	  --block-margin: 0.5em;
	  --mini-block-length: 30px;
	  --mini-block-margin: 3px;

	  /* block containers are also squares specified by one length variable */
	  --block-container-length: 20em;
	  --block-container-margin: 1em;
	  --mini-block-container-margin: 6px;

	  /* general containers have rounded corners and shadow */
	  --container-border-radius: 10px;
	  --container-box-shadow: 0px 0px 7px 1px var(--medium-gray);
}

html {
	  width: 100%;
	  height: 100%;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 16px;
}

body {
	  width: 100%;
	  height: 100%;
	  margin: 0;
}

/* center vertically and horizontally */
.centering-container {
	  min-height: 100%;
	  padding: 1rem;

	  display: flex;
	  justify-content: center;
	  align-items: center;

    flex-wrap: wrap;
}

/* center horizontally in a column layout */
.col-centering-container {
	  padding: 1rem;

	  display: flex;
	  align-items: center;

    flex-direction: column;
}

button {
	  min-width: 7rem;
    
	  margin: 1rem 0;
	  padding: 0.5rem;
	  outline: none;
	  cursor: pointer;

	  background-color: white;
	  color: black;
	  box-shadow: 0 5px var(--medium-gray);

	  border: solid;
	  border-color: var(--medium-gray);
	  border-width: 1px;
	  border-radius: var(--container-border-radius);

	  font-family: inherit;
	  font-size: inherit;
}

button:active, button:disabled {
	  background-color: var(--light-gray);
	  color: black;

	  box-shadow: 0 2px var(--dark-gray);
  	transform: translateY(3px);
}

button:disabled {
	  cursor: not-allowed;
}

button:disabled.unpress {
	  /* unpress a disabled button without changing the disabled color */
	  box-shadow: 0 5px var(--medium-gray);
	  transform: translateY(-3px);
}

button.block-button {
    min-width: 0;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.hide {
	  display: none;
}

.attribution {
	  text-align: center;
	  color: var(--medium-gray);
}

.attribution a {
	  color: inherit;
}

/* classes to standarize the appearance of questions */
.qa {
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-box-shadow);
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-options {
    margin-top: 0.1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.info-box {
    border: solid;
    border-color: var(--medium-gray);
	  border-width: 1px;
    box-shadow: var(--container-box-shadow);
    padding: 0 0.5em;
    
    font-size: 0.8em;
}
